body {
    height: 100%;
    margin: 0;
    padding: 0em;
    background-size: cover;
  }

 

  p {
    color:#F86500;
    font-family: Oxygen;
    margin-bottom: 0rem;
    
   
  }


  .fs-1 {
    font-family: "Nothing You Could Do";
    color: #6C0102;
    font-size: 53px;
    font-style: normal;
    font-weight: 400;
    
    margin: auto;
    padding-top: 40%;
    padding-bottom: 5%;
 
}

.fs-5{
    padding-top: 5%;
    color:#F86500;
    font-family: Oxygen;
    margin-bottom: 5%;
   
}
 
.center{
    text-align: center;
}

.img-fluid {
    background-size: cover;
    max-width: 100%;
    height: auto;
}


/*
* @name: Nenad Jelavic
*/
body {
  background-image: url('images/background.png');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;;
  background-color: #e6e6e6;
}
@media only screen and (min-width: 768px) {
    a:hover {
      color: black;
      background-color: #F86500;
      border-radius: 35%;
    }
}

@media only screen and (max-width: 768px) {
  nav.navbar .nav-item {
    border-bottom: 1px solid black;
  }
  /* nav.navbar .nav-item:last-of-type {
    border-bottom: none;
  } */
  nav.navbar .navbar-nav {
    margin-top: 10px;
    background-color: #eeefe9;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
  }
}




/* .form-control{
background-image: url("images/lupa.png");
background-repeat: no-repeat, repeat;

} */
.input-group-text{
  background-color: white;
  border-right:white;
}

.form-control{
  border-left: white;
  

}
nav.happy-cook-nav ul.navbar-nav li a.nav-link {
  color:#F86500;
  transition: none;
  
}
input.form-control:focus{
  box-shadow: none;
  border-color: gray;
}
.navbar{
  padding-right: 5%;
}

::placeholder {
  color:red;
}
.happyPot{
  margin: 1%;

}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #6C0102;
}
.input-group-text{
  border:transparent;
  border-radius: 15%;
}
.form-control {
  border:transparent;
  
}
/* nav.happy-cook-nav ul.navbar-nav li a.nav-link {
  
  
} */
